.main-body {
    background-color: #df716f; /* Red background */
    min-height: 100vh;
    padding-bottom: 50px;
  }
  
  .navbar-size {
    width: 95%;
    margin: 0 auto;
  }
  
  .user-image-size {
    height: 56px;
    margin: 4px 0;
  }
  
  .click-me-button {
    background-color: #e57373;
    margin-top: 20px;
  }
  
  .banner-img {
    margin-top: 30px;
  }
  
  .small-card {
    height: 250px;
    overflow: hidden;
  }
  
  .small-card .card-image img {
    height: 120px;
    object-fit: cover;
  }
  
  .small-card .card-content {
    padding: 8px;
    font-size: 0.9rem;
  }
  
  .small-card .card-title {
    font-size: 1rem;
  }
  